/* Style for the link to look like a button */

.theme-btn:hover {
    transform: scale(1.05); /* Slightly enlarges the button on hover */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5); /* Custom focus outline */
}

.theme-btn:focus {
    outline: none; /* Removes default focus outline */
}   